@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik Italic";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
}

body {
  font-family: "Rubik", sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .wrapper {
    @apply w-full min-h-[120vh] md:min-h-[125vh] bg-no-repeat bg-cover bg-light-bluish;
    @apply bg-[url('./assets/images/pattern-background-desktop-light.svg')] md:bg-[url('./assets/images/pattern-background-tablet-light.svg')];
    background-position: 0% 12%;
  }
  /* Dark Background Img */
  .bg-dark-img {
    @apply bg-dark-navy;
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  }

  /* Main Container */
  .container {
    @apply w-[80vw] pt-[50px] md:pt-0 md:h-full;
  }

  /* Header Section */
  .header {
    @apply flex justify-between items-center md:pt-10;
  }
  .logo {
    @apply text-grey-navy flex gap-5 items-center justify-center min-w-[56px] min-h-[56px] p-3 rounded-md;
  }

  /* Quiz Card */
  .quiz-card {
    @apply mt-[80px] min-h-[58vh] grid grid-cols-[min-content_auto] justify-between;
    /* Tablet Styles */
    @apply md:grid-cols-1 md:grid-rows-[0.4fr_0.6fr] md:gap-[64px];
  }

  .welcome-content {
    @apply w-[35vw] md:w-full md:text-center flex flex-col gap-[48px] md:gap-3;
  }

  /* Question */
  .question-content {
    @apply w-[35vw] flex flex-col justify-between;
    /* Tablet Styles */
    @apply md:w-full md:text-center;
  }

  /* Option List  */
  .options-container {
    @apply w-[40vw] flex flex-col gap-5;
    /* Tablet styles */
    @apply md:w-full md:h-full;
  }
  .option-list {
    @apply md:w-full flex-1 flex flex-col justify-between gap-5;
  }

  /* Option */
  .option {
    @apply list-none cursor-pointer;
    @apply h-[96px] md:h-[80px] w-full rounded-[24px] bg-pure-white dark:bg-navy;
    @apply shadow-lg;
    @apply p-[20px] flex items-center gap-7;
    @apply hover:translate-y-[-5px] transition-all duration-200;
  }

  .option:hover .logo {
    @apply text-purple;
  }

  .bg-logo-hover {
    background-color: #f6e7ff !important;
  }

  .option-hover-logo-styles {
    @apply text-purple;
    background-color: #f6e7ff !important;
  }

  /* Option Active/Selected */
  .option.option-active .logo:first-child {
    background-color: #a729f5 !important;
    color: #ffffff !important;
  }
  .option.option-correct .logo:first-child {
    background-color: #26d782 !important;
    color: #ffffff !important;
  }
  .option.option-incorrect .logo:first-child {
    background-color: #ee5454 !important;
    color: #ffffff !important;
  }
}
