@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik Italic";
  src: url("./assets/fonts/Rubik-Italic-VariableFont_wght.ttf");
}

body {
  font-family: "Rubik", sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .wrapper {
    @apply w-full h-[100vh] bg-no-repeat bg-cover bg-light-bluish;
    background-image: url("./assets/images/pattern-background-desktop-light.svg");
    background-position: 0% 12%;
  }
  /* Dark Background Img */
  .bg-dark-img {
    @apply bg-dark-navy;
    background-image: url("./assets/images/pattern-background-desktop-dark.svg");
  }

  /* Main Container */
  .container {
    @apply w-[80vw] pt-[50px];
  }

  /* Header Section */
  .header {
    @apply flex justify-between items-center;
  }
  .logo {
    @apply flex gap-5 items-center justify-center w-[56px] h-[56px] rounded-md;
  }

  /* Welcome Card */
  .welcome-card {
    @apply mt-[60px] h-[58vh] flex justify-between;
  }

  .welcome-content {
    @apply w-[35vw] flex flex-col gap-[48px];
  }

  .option {
    @apply list-none cursor-pointer;
    @apply flex-1 max-h-[96px] w-full rounded-[24px] bg-pure-white dark:bg-navy;
    @apply shadow-lg;
    @apply p-[20px] flex items-center gap-7;
    @apply hover:translate-y-[-5px] transition-all;
  }
}
